@import '../includes';

.SearchBar {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;

	input[type="text"] {
		appearance: none;
		display: block;
		width: 100%;
		height: rem(40);
		padding: 0 rem(20);
		font-family: font(open-sans);
		font-weight: weight(regular);
		font-size: rem(15);
		border-radius: rem(6);
		border: 0 none;
		box-shadow: none;
		background-color: color-scheme(input, bg);
		color: color-scheme(input, text);
		transition: background-color 0.3s ease;
		@include breakpoint(min, rem(301)) {
			height: rem(50); font-size: rem(16);
		}
		@include breakpoint(min, rem(481)) {
			height: rem(55); font-size: rem(17);
		}
		@include breakpoint(min, rem(851)) {
			height: rem(60); font-size: rem(18);
		}
		&:focus, &:active {
			background-color: color-scheme(input, bg-focus);
			outline: none;
		}
		@include placeholders() {
			color: color-scheme(input, placeholder);
			opacity: 1;
		}
		&::-ms-clear {
			display: none;
		}
	}
}

.ClearButton {
	display: none;
	position: absolute;
	top: 0; right: 0;
	width: rem(40); height: rem(40);
	background-color: transparent;
	border: 0 none;
	color: color-scheme(input, placeholder);
	transition: color 0.3s ease;
	cursor: pointer;
	&:hover { color: color-scheme(input, text); }
	&:active, &:focus { outline: none; }
	&.show { display: block; }
	.icon.close {
		position: relative; bottom: rem(-2);
		width: rem(20); height: rem(20);
	}
	@include breakpoint(min, rem(301)) {
		width: rem(50); height: rem(50);
		.icon.close { width: rem(22); height: rem(22); }
	}
	@include breakpoint(min, rem(481)) {
		width: rem(55); height: rem(55);
		.icon.close { width: rem(24); height: rem(24); }
	}
	@include breakpoint(min, rem(851)) {
		width: rem(60); height: rem(60);
		.icon.close { width: rem(26); height: rem(26); }
	}
}