// Base Styles
// -----------------------------------------------------------------------------

%selection {
	background: color-scheme(selection, bg);
	color: color-scheme(selection, text);
	text-shadow: none;
}

::-moz-selection { @extend %selection; }
::selection { @extend %selection; }

* {
	margin: 0; padding: 0;
	@include box-sizing(border-box);
}

html {
	font-size: 100%;
	line-height: 1.5;
}

body {
	background-color: color-scheme(background);
	font-family: font(open-sans);
	font-weight: weight(light);
	color: color-scheme(text);
}

a { text-decoration: none; }