// Base Styles
// -----------------------------------------------------------------------------

@include separate(('::-moz-selection', '::selection')) {
	background: color-scheme(selection, bg);
	color: color-scheme(selection, text);
	text-shadow: none;
}

* {
	margin: 0; padding: 0;
	@include box-sizing(border-box);
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 100%;
	line-height: 1.5;
}

body {
	background-color: color-scheme(background);
	font-family: font(open-sans);
	font-weight: weight(light);
	color: color-scheme(text);
}

a { text-decoration: none; }

#root {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 rem(30);
	@include breakpoint(min, rem(481)) {
		padding: 0 rem(60);
	}
}