// Browser Upgrade
// -----------------------------------------------------------------------------

// NOTE: Don't replace pixels with em or rem. IE doesn't know about those.
.browserupgrade {
    margin: 0;
    padding: 20px 0;
    background: color-scheme(browserupgrade-bg);
    color: color-scheme(browserupgrade-text);
    font-size: 18px;
    text-align: center;
    strong { font-weight: bold; }
    a {
    	color: color-scheme(browserupgrade-link);
    	text-decoration: underline;
    	font-weight: bold;
    }
}
