//  Variables
//  ----------------------------------------------------------------------------
//
//  Table of Contents:
//
//   01. Color Scheme
//   02. Font Family
//   03. Font Weights
//   04. Z-Index Scale
//	 05. Relative Paths


// 01. Color Scheme
// -----------------------------------------------------------------------------

$colors: (
	white: (
		base: #ffffff,
		seashell: #f1f1f1,
		mercury: #e5e5e5,
		clouds: #ecf0f1
	),
	gray: (
		silver: #c4c4c4,
		silver-alt: #bdc3c7,
		nobel: #b7b7b7,
		chalice: #a7a7a7,
		base: gray,
		dove: #6e6e6e,
		concrete: #95a5a6,
		asbestos: #7f8c8d,
		asphalt: #34495e,
		midnight: #2c3e50
	),
	black: (
		base: #000000
	),
	purple: (
		amethyst: #9b59b6,
		wisteria: #8e44ad,
		base: purple
	),
	blue: (
		peter: #3498db,
		belize: #2980b9,
		base: blue
	),
	turquoise: (
		base: #1abc9c,
		green-sea: #16a085
	),
	green: (
		emerald: #2ecc71,
		nephritis: #27ae60,
		base: green
	),
	yellow: (
		base: #ffcc00,
		sunflower: #f1c40f
	),
	orange: (
		base: #f39c12,
		carrot: #e67e22,
		pumpkin: #d35400,
	),
	red: (
		alizarin: #e74c3c,
		pomegranate: #c0392b,
		base: red
	)
);

$color-scheme: (
	selection: (
		bg: color(turquoise),
		text: color(white),
	),
	background: color(purple, amethyst),
	title: rgba(color(white), 0.7),
	text: rgba(color(white), 0.6),
	border: rgba(color(white), 0.2),
	input: (
		bg: rgba(color(white), 0.6),
		bg-focus: color(white, seashell),
		border: color(white, seashell),
		placeholder: rgba(color(purple, amethyst), 0.7),
		text: color(purple, amethyst),
	),
	item: (
		bg-hover: rgba(color(white), 0.1),
		btn: rgba(color(white), 0.6),
		btn-hover: rgba(color(white), 0.8),
		title: rgba(color(white), 0.8),
		hint: rgba(color(white), 0.4),
	),
	scrollup: (
		normal: rgba(color(white), 0.4),
		hover: rgba(color(white), 0.9),
	),
	shortcuts: (
		bg: rgba(color(purple, wisteria), 0.6),
		gradient-start: rgba(color(purple, wisteria), 1),
		gradient-end: rgba(color(purple, amethyst), 0.6),
		normal: rgba(color(white), 0.4),
		hover: rgba(color(white), 0.9),
	),
	info: color(blue, peter),
	success: color(green, emerald),
	alert: color(orange, carrot),
	error: color(red, alizarin),
);

// 02. Font Family
// -----------------------------------------------------------------------------

$fonts: (
	open-sans: ('Open Sans', sans-serif),
	rubik: ('Rubik', sans-serif)
);

// 03. Font Weights
// -----------------------------------------------------------------------------

$weights: (
	light: 300,
	regular: 400,
	medium: 500,
	semi-bold: 600,
	bold: 700,
	extra-bold: 800,
	black: 900
);

// 04. Z-Index Scale
// -----------------------------------------------------------------------------

$levels: (
	0: 0,
	1: 100,
	2: 200,
	3: 300,
	4: 400,
	5: 500,
	6: 600,
	7: 700,
	8: 800,
	9: 900,
	10: 1000
);

// 05. Relative Paths
// -----------------------------------------------------------------------------

$paths: (
	images: (
		base: './images/'
	),
	svg: (
		base: './images/svg/',
	),
	fonts: (
		base: './fonts/'
	)
);