/* NOTE: Don't replace pixels with em or rem. IE doesn't know about those. */
.ie body { background-color: #e74c3c; }
.browserupgrade {
	display: block;
	width: 730px;
	margin: 200px auto 0 auto;
	padding: 40px;
	color: #f1f1f1;
	font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
.browserupgrade a {
	color: #f1f1f1;
	text-decoration: underline;
	font-weight: bold;
}
.browserupgrade strong { font-weight: bold; }