@import '../styles/includes';

.EmoticonsTable {
	width: 100%;
	padding: 0;
	margin: 0 0 rem(30) 0;
	border-collapse: collapse;
	border-spacing: 0;
	@include breakpoint(min, rem(301)) { margin: 0 0 rem(35) 0; }
	@include breakpoint(min, rem(481)) { margin: 0 0 rem(40) 0; }
	@include breakpoint(min, rem(851)) { margin: 0 0 rem(50) 0; }

	thead {
		height: rem(40);
		border-bottom: rem(1) solid color-scheme(border);
		th {
			font-weight: weight(extra-bold);
			font-size: rem(12);
			text-transform: uppercase;
			color: color-scheme(text);
			text-align: left;
			padding: 0 rem(20);
			&:first-child,
			&:last-child {
				padding: 0; text-align: center;
			}
			&:first-child { width: rem(50); }
			&:last-child { width: rem(55); }
		}
	}

	tbody tr {
		transition: background-color 0.3s ease;
		&:hover { background-color: color-scheme(item, bg-hover); }
	}
}