@import '../styles/includes';

.EmoticonItem {
	td {
		padding: rem(4) rem(10);
		font-size: rem(16);
		font-weight: weight(light);
		text-transform: capitalize;
		color: color-scheme(text);
		@include breakpoint(min, rem(301)) { font-size: rem(18); }
		@include breakpoint(min, rem(481)) { font-size: rem(19); }
		@include breakpoint(min, rem(851)) { font-size: rem(20); }
		&:first-child,
		&:last-child {
			color: color(white, seashell);
			text-align: center;
		}
		&:first-child { width: rem(50); }
		&:last-child { width: rem(55); }
	}
}

.Emoticon {
	font-size: rem(26);
	user-select: none;
}

.CopyBtn {
	appearance: none;
	display: block;
	width: rem(55);
	height: auto;
	margin: 0;
	padding: rem(11) 0;
	border: 0 none;
	border-radius: rem(3);
	background-color: color-scheme(item, btn);
	color: color-scheme(background);
	font-size: rem(13);
	font-weight: weight(regular);
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	transition: background-color 0.3s ease;
	&:hover { background-color: color-scheme(item, btn-hover); }
	&:active, &:focus { outline: none; }
}