@import '../styles/includes';

.EmoticonRow {
	&.desktopRow {
		td {
			padding: rem(4);
			font-size: rem(14);
			font-weight: weight(light);
			text-transform: capitalize;
			color: color-scheme(text);
			vertical-align: middle;
			&.faceCell, &.copyCell {
				color: color(white, seashell);
				text-align: center;
			}
			@include breakpoint(min, rem(301)) {
				font-size: rem(16);
			}
			@include breakpoint(min, rem(641)) {
				font-size: rem(18);
				padding: rem(4) rem(10);
				&.faceCell { width: rem(50); }
				&.copyCell { width: rem(55); }
			}
			@include breakpoint(min, rem(851)) {
				font-size: rem(20);
			}
		}
	}

	&.mobileRow {
		td.mobileCell {
			vertical-align: middle;
			padding: rem(4) 0;

			.CopyButton.mobileCard {
				width: 100%;
				text-align: left;
				padding: rem(6) rem(10);
				border-radius: rem(6);
				background-color: color-scheme(item, bg-hover);
			}

			.nameCell {
				padding: rem(6) 0;
				font-size: rem(14);
				font-weight: weight(light);
				text-transform: capitalize;
				color: color-scheme(item, title);
				@include breakpoint(min, rem(301)) {
					font-size: rem(16);
				}
			}
		}

		table.innerTable {
			width: 100%;
			td {
				vertical-align: middle;
				padding: rem(8) 0 rem(8) 0;
				&.faceCell {
					color: color(white, seashell);
				}
				&.copyCell {
					width: rem(80);
					vertical-align: bottom;
					.CopyHint {
						width: 100%;
						display: block;
						font-size: rem(12);
						font-weight: weight(light);
						text-align: right;
						text-transform: uppercase;
						color: color-scheme(item, hint);
					}
				}
			}
		}
	}
}

.Emoticon {
	font-size: rem(22);
	user-select: none;
	@include breakpoint(min, rem(481)) {
		font-size: rem(26);
	}
}
