@import '../styles/includes';

.EmoticonsTable {
	width: 100%;
	max-width: 100%;
	padding: 0; margin: 0;
	overflow: hidden;

	table {
		width: 100%;
		padding: 0; margin: 0;
		border-collapse: collapse;
		border-spacing: 0;
	}

	thead {
		height: rem(40);
		border-bottom: rem(1) solid color-scheme(border);
		th {
			font-weight: weight(extra-bold);
			font-size: rem(10);
			text-transform: uppercase;
			color: color-scheme(text);
			text-align: left;
			padding: 0 rem(10);
			&.faceCell {
				text-align: left;
				padding: 0 0 0 rem(10);
				width: auto;
			}
			&.nameCell > span {
				display: none;
			}
			&.copyCell {
				text-align: center;
				padding: 0;
				width: rem(45);
			}
			@include breakpoint(min, rem(301)) { font-size: rem(11); }
			@include breakpoint(min, rem(481)) {
				font-size: rem(12);
				&.faceCell {
					text-align: center;
					padding: 0;
					width: rem(50);
				}
				&.nameCell > span {
					display: inline;
				}
				&.copyCell {
					width: rem(55);
				}
			}
		}
	}

	tbody tr {
		transition: background-color 0.3s ease;
		&:hover { background-color: color-scheme(item, bg-hover); }
		&:hover.mobileRow { background-color: transparent; }
		&.InvisibleRow {
			user-select: none;
			&:hover { background-color: transparent !important; }
			td { height: rem(10); }
		}
	}
}