@import '../styles/includes';

.EmoticonRow {
	td {
		padding: rem(4) rem(10);
		font-size: rem(16);
		font-weight: weight(light);
		text-transform: capitalize;
		color: color-scheme(text);
		@include breakpoint(min, rem(301)) { font-size: rem(18); }
		@include breakpoint(min, rem(481)) { font-size: rem(19); }
		@include breakpoint(min, rem(851)) { font-size: rem(20); }
		&:first-child,
		&:last-child {
			color: color(white, seashell);
			text-align: center;
		}
		&:first-child { width: rem(50); }
		&:last-child { width: rem(55); }
	}
}

.Emoticon {
	font-size: rem(26);
	user-select: none;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
