@import '../styles/includes';

.Footer {
	display: flex;
	width: 100%;
	height: rem(120);
	padding: 0 rem(10);
	align-items: center;
	
	p {
		display: block;
		width: 50%;
		font-size: rem(11);
		font-weight: weight(light);
		text-transform: uppercase;
		@include breakpoint(min, rem(481)) {
			font-size: rem(13);
		}
	}

	a {
		transition: color 0.3s ease;
		color: color-scheme(item, btn);
		&:hover { color: color-scheme(item, btn-hover); }
	}

	.author {
		text-align: left;
		a { text-decoration: underline; }
	}

	.mynets {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: right;
		.folw {
			display: none;
			@include breakpoint(min, rem(481)) {
				display: inline-block;
			}
		}
		.wrapper {
			display: flex;
			align-items: center;
			position: relative;
			bottom: rem(-2);
			margin-left: rem(3);
		}
		.mynet {
			padding: 0;
			margin: 0 0 0 rem(10);
			@include breakpoint(min, rem(481)) {
				margin: 0 0 0 rem(14);
			}
			.icon {
				width: rem(18); height: rem(18);
				@include breakpoint(min, rem(481)) {
					width: rem(20); height: rem(20);
				}
				&.behance {
					position: relative;
					margin-left: rem(2);
					width: rem(24); height: rem(24);
					@include breakpoint(min, rem(481)) {
						width: rem(26); height: rem(26);
					}
				}
			}
		}
	}
}