@import '../styles/includes';

.ScrollUp {
	opacity: 0;
	display: block;
	position: fixed;
	right: rem(40);
	bottom: rem(40);
	width: rem(40);
	height: rem(40);
	border: rem(1) solid color-scheme(scrollup, normal);
	border-radius: rem(4);
	background-color: transparent;
	transition: border 0.3s ease, opacity 0.5s ease;
	.icon.chevron-up {
		color: color-scheme(scrollup, normal);
		transition: color 0.3s ease;
	}
	&:hover {
		border: rem(1) solid color-scheme(scrollup, hover);
		.icon.chevron-up { color: color-scheme(scrollup, hover); }
	}
	&:focus, &:active { outline: none; }
	&.show { opacity: 1; }
}