@import '../styles/includes';

.SelectedScreen {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 50%; left: 50%;
	margin: 0; padding: 0;
	transform: translate(-50%, -50%);
	font-size: rem(120);
	line-height: 1;
	opacity: 0;
	user-select: none;
	@include breakpoint(min, rem(481)) { @include fluid-type(481, 1200, 120, 250); }
	@include breakpoint(min, rem(1201)) { font-size: rem(250); }
	@include breakpoint-orientation(max, rem(400), landscape, height) { font-size: 40vh; }
	&.show { display: block; }
	&.fadeInOut { animation-duration: 1s; }
}